<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        *{
            padding: 0%;
            margin: 0%;
            font-family: Arial, Helvetica, sans-serif;
        }

        .showData {
          border-collapse: collapse;
          width: 100%;
          padding: 15px;
          margin: 20px;
        }
        
        th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
        
        .showData tr:hover {background-color:#f5f5f5;}

        nav{
            overflow: hidden;
            background-color: #333;
        }

        nav a {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }
        
        nav a:hover {
          background-color: rgb(101, 177, 167);
          color: black;
        }

        .add{
          float: right;
          padding: 10px;
          margin: 20px;
        }
        
        h1{
            margin: 1em;
        }

        form{
          margin: 30px;
        }

        .name {
          width: 30%;
          margin-top: 1em;
          margin-left: 1em;
          margin-bottom: 1em;
        }

        .addCastForm{
          float: right;
          margin-right: 10em;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent Mountauneering</title>
</head>
<body>
    <nav>
        <a href="/">HOME</a>
        <a href="/users">USER</a>
        <a href="/items">ITEM</a>
        <a href="/transactions/showrent">PEMINJAM</a>
        <a href="/login">LOGIN</a>
 
    </nav>