<%- include('./partials/nav.ejs') %>
    <h1>Tambah User</h1>

    <form action="/users/edit/password/<%= user.id %>" method="post">

    <label for="password">Password :</label>
    <input type="password" name="password" id="">
    <br>

    <button type="submit">SIMPAN</button>
    <a href="/users">KEMBALI</a> 
    
    </form>
</body>
</html>